@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --bg-primary: #0B0F19;
  --card-surface: #161F30;
  --text-primary: #F3F4F6;
  --text-secondary: #9CA3AF;
  --accent-satellite: #06B6D4;
  --accent-exoplanet: #FBBF24;
  --accent-asteroid: #F43F5E;
  --accent-green: #10B981;
}

@theme inline {
  --color-bg-primary: var(--bg-primary);
  --color-card-surface: var(--card-surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-satellite: var(--accent-satellite);
  --color-exoplanet: var(--accent-exoplanet);
  --color-asteroid: var(--accent-asteroid);
  --color-green: var(--accent-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono), monospace;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}